{{#if info}}
<div class="auth-success">{{info}}</div>
{{/if}}

{{#if error}}
<div class="auth-error">{{error}}</div>
{{/if}}

<p class="consent-description">
  {{msg "forgotPasswordInstruction"}}
</p>

<form method="POST" action="/realms/{{realmName}}/forgot-password" class="auth-form">
  <div class="form-group">
    <label for="email">{{msg "forgotPasswordEmail"}}</label>
    <input type="email" id="email" name="email" required autocomplete="email" autofocus placeholder="{{msg "forgotPasswordEmail"}}">
  </div>

  <button type="submit" class="btn-primary">{{msg "forgotPasswordSubmit"}}</button>
</form>

<div class="auth-footer-link">
  <a href="/realms/{{realmName}}/login">{{msg "forgotPasswordBackToSignIn"}}</a>
</div>
